<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSocket Chat Room</title>
</head>
<body>
   <h1>Welcome to the Chat Room!</h1>
   <div id="chat">
        <div id="messages"></div>
        <input type="text" id="messageInput" placeholder="Type your message..." />
        <button onclick="sendMessage()">Send</button>
   </div>
  
   <script>
     const ws = new WebSocket('ws://localhost:8888/ws');
     
     ws.open = () =>{
       alert('Connected to the chat server !');
     };
     
     ws.onmessage = (message) =>{
       const messageDiv= document.getElementById('message');
       const newMessage = document.createElement('div');
       newMessage.textContent = event.data;
       messageDiv.appendChild(newMessage);
     };
     
     ws.onclose = () => {
       console.log('Disconnected from the chat sever.');
     };
     
     function sendMessage (){
       const input = document.getElementById('messageInput');
       if(input.value){
         ws.send(input.value);
         input.value='';
       }
     }
   </script>
</body>
</html>